.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.header > svg {
    color: #fff;
    font-size: var(--font-600);
    cursor: pointer;
}

.header > svg:hover {
    color: var(--main-color);
} 

.header > svg:active {
    transform: scale(0.98);
}
