.skeleton__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-auto-rows: 510px;
    column-gap: 20px;
    row-gap: 40px;
    margin-top: 20px;
}

@media (min-width: 450px) {
    .skeleton__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-auto-rows: 340px;
    }
}

@media (min-width: 768px) {
    .skeleton__wrapper {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 420px;
    }
}