
.section {
    height: 70px;
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: var(--font-400);
    text-transform: capitalize;
    font-weight: 800;
    letter-spacing: 2px;
    transition: 0.3s;
}

.logo:hover {
    opacity: 0.5;
}

.logo > img {
    width: 22px;
}